*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: none;
}
.App{
  background-color: #F2DD6E;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  color: black;
  font-size: 10rem;
}
.cursor-pointer{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}